@tailwind base;
@tailwind utilities;
@tailwind components;
:host {
  @apply text-white;
}
input,
select,
textarea {
  @apply bg-white opacity-75 text-black p-1 h-min outline-none;
}

.warn {
  @apply hover:bg-red-500;
}

:root {
}
.rollable {
  cursor: url("assets/threed6rot.webp"), auto;
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
:root {
  scrollbar-width: thin;
  scrollbar-color: #782e22 #111;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #782e22;
  border: 1px solid var(--color-border-highlight);
}
